a {
    text-decoration: none;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}
.links {
    background-color: rgb(102, 102, 102);
    padding: 5px;
    color: aliceblue;
    margin: 10px 0px;
}
.title {
    font-size: 2.2rem;
    text-align: center;
}