<mat-toolbar>
  <a class="link-home" href="/home">
  MatchUp
  </a>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img class="image-profile-icon" width="30" height="30" [src]="user.photoURL ?? './assets/img/userAvatar.png'"/>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      Login
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    Profile
  </button>
  <button mat-menu-item routerLink="/chat">
    Chat
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>