<div class="form-container profile-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
    <h1>Your profile</h1>
    <div class="profile-image">
        <img class="img-user" width="120" height="120" [src]="user.photoURL ?? 'assets/img/userAvatar.png'"/>
        <button  class="button-edit" mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <input type="file" #inputField hidden (change)="uploadImage($event, user)"/>
    <div class="form-container informations-container smat-elevation-z5">
        <h2>Informations</h2>
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <mat-form-field>
                <input matInput placeholder="Display name" formControlName="displayName"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First name" formControlName="firstname"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="lastname"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="phone"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address"/>
            </mat-form-field>
            <button class="save-button-profile" mat-raised-button color="primary" type="submit">Save</button>
        </form>
    </div>
</div>