<div class="form-container profile-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
    <h1>Your profile</h1>
    <div class="profile-image">
        <img class="img-user" width="120" height="120" [src]="user.photoURL ?? 'assets/img/userAvatar.png'"/>
        <button  class="button-edit" mat-mini-fab (click)="inputField.click()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <input type="file" #inputField hidden (change)="uploadImage($event, user)"/>
    <div class="form-container informations-container smat-elevation-z5">
        <h2>Informations</h2>
        <form  class="informations-form" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <div class="information-field">
                <label class="label-information" for="displayName">Display name </label>
                <input class="input-text-information" id="displayName" matInput placeholder="Display name" formControlName="displayName"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="firstname">Firstname </label>
                <input class="input-text-information" id="firstname" matInput placeholder="Firstname" formControlName="firstname"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="lastname">Lastname </label>
                <input class="input-text-information" id="lastname" matInput placeholder="Lastname" formControlName="lastname"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="phone">Phone number </label>
                <input class="input-text-information" id="phone" matInput placeholder="Phone number" formControlName="phone"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="address">Address</label>
                <input class="input-text-information" id="address" matInput placeholder="Address" formControlName="address"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="age">Age</label>
                <input min="18" max="100" type="number" class="input-text-information" id="age" matInput placeholder="age" formControlName="age"/>
            </div>
            <div class="information-field">
                <label class="label-information" for="gender">Gender</label>
                <select class="gender-field" name="gender" id="gender" formControlName="gender">
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="X">X</option>
                  </select>
            </div>
            <h2>Filtering options</h2>

            <div class="information-field">

                <label class="label-information" for="check1">Futebol</label>
                <input #futebolCheckbox
                    id="futebolCheckbox"
                    type="checkbox"
                    [checked]="this.profileForm.value.futebol"
                    (change)="onFutebolChanged(futebolCheckbox.checked)"
                >
            </div>
            <div class="information-field">
                <label class="label-information" for="check1">Games</label>
                <input #gamesCheckbox
                    id="gamesCheckbox"
                    type="checkbox"
                    [checked]="this.profileForm.value.games"
                    (change)="onGamesChanged(gamesCheckbox.checked)"
                >
            </div>
            <div class="information-field">
                <label class="label-information" for="check1">Cinema</label>
                <input #cinemaCheckbox
                    id="cinemaCheckbox"
                    type="checkbox"
                    [checked]="this.profileForm.value.cinema"
                    (change)="onCinemaChanged(cinemaCheckbox.checked)"
                >
            </div>
            <div class="information-field">
                <label class="label-information" for="check1">Gardening</label>
                <input #gardeningCheckbox
                    id="gardeningCheckbox"
                    type="checkbox"
                    [checked]="this.profileForm.value.gardening"
                    (change)="onGardeningChanged(gardeningCheckbox.checked)"
                >
            </div>
            <div class="information-field">
                <label class="label-information" for="check1">Food</label>
                <input #foodCheckbox
                    id="foodCheckbox"
                    type="checkbox"
                    [checked]="this.profileForm.value.food"
                    (change)="onFoodChanged(foodCheckbox.checked)"
                >
            </div>


            <button class="save-button-profile" mat-raised-button color="primary" type="submit">Save</button>
        </form>
    </div>
</div>